<div class="elz elzCLSenginePanel light float mainTaskbar" {{{panel_data}}}>
    <div class="elz epBF elzCLStoolbar light elzPLT" data-bg="grey 900">

        {{{html_tray}}}

        {{#html_wincotrol}}
        <div class="elz tbIt tbWrap right winControls">
            <div class="elz epBF tbIt tbWrapFlex">
                <div class="elz epBF tbIt tbWrapIn">
                    {{{html_wincotrol}}}
                </div>
            </div>
        </div>
        {{/html_wincotrol}}
        {{#html_center}}
        <div class="elz tbIt tbWrap contentCenter {{center_class}}" {{{center_data}}}>
            <div class="elz epBF tbIt tbWrapFlex">
                <div class="elz epBF tbIt tbWrapIn epGrow">
                    {{{html_center}}}
                </div>
            </div>
        </div>
        {{/html_center}}
    </div>
</div>