<div class="elz elzCLSenginePanel dark bordered brTop {{cont_class}}" {{{cont_data}}}>
    <div class="elz epBF elzCLStoolbar elzPLT {{tbar_class}}" {{{tbar_data}}}>

        <div class="elz tbIt tbWrap {{twrap_class}}" {{{twrap_data}}}>
            <div class="elz epBF tbIt tbWrapFlex">
                <div class="elz epBF tbIt tbWrapIn {{twrapin_class}}" {{{twrapin_data}}}>
                    {{{footer_html}}}
                </div>
            </div>
        </div>

    </div>

</div>