<{{tool_tag}} class="elz tbIt tbTool {{tool_class}}" {{{tool_data}}}>
    {{#icon}}{{> common/icon}}{{/icon}}
    {{#tool_text}}<div class="elz tbText {{tool_tclass}}">{{tool_text}}</div>{{/tool_text}}
    {{#tip}}
        <div class="elz elzTTwrap {{tip_class}}">
            <div class="elz elzTooltip nowrap">{{tip_text}}</div>
        </div>
    {{/tip}}
</{{tool_tag}}>