<{{tool_tag}} class="elz tbIt tbTool {{tool_class}}" {{{tool_data}}}>
    <div class="elz toolInner {{inner_class}}" {{{inner_data}}}>
        <div class="elz tbText {{tx_class}}">{{tx_text}}</div>
    </div>
</{{tool_tag}}>