
{{#fields}}
<div class="elz setInner">
    <input class="elizaIFormTarget" name="{{name}}" type="{{type}}" autocomplete="off" placeholder="{{placeholder}}" data-label="{{label}}" data-icon="{{icon}}"/>
</div>
{{/fields}}
<div class="elz setInner submit">
    <div class="elizaIFormTarget group">
        <input class="elizaIFormTarget" name="{{send_name}}" type="submit" value="{{lang.send}}" data-variant="send" />
        <input class="elizaIFormTarget" name="cancel" type="button" value="{{lang.cancel}}"/>
    </div>
</div>