<div class="elz formWrap input">
    <input class="elizaIFormsInit" type="{{type}}" name="{{name}}" autocomplete="off" data-icon="{{icon}}" placeholder="{{placeholder}}" data-title="{{title}}" {{#hint}}data-hint='{{{hint}}}'{{/hint}}/>
</div>